.aws/credentials
.azure
.basement
.config/fish/fish_variables
.config/fish/functions/fzf_key_bindings.fish
.config/karabiner/
.DS_Store
.gnupg/trustdb.gpg
.npmrc
.nyc_output
.ssh
.wakatime.cfg
.yarnrc
basement_dist
config.local.js
coverage/
dist
logs
npm-debug.log
pids
run
.config/fish/conf.d/openai.fish
.config/fish/conf.d/nu.fish
