[user]
	name = Dmytro Babich
	email = dmytrobabich17@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
 	editor = nvim
    #excludesfile = /Users/dmytrobabich/.gitignore
[color]
	ui = true
[diff]
	colorMoved = default
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	path = nvim
[init]
	defaultBranch = main
